body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:rgb(224, 94, 94);
}

.slider{
    position:relative;
    width: 80%;
    max-width: 800px;
    overflow:hidden;
    
}
.slides{
    display:flex;
    transition: transform 0.5s ease-in-out;
}

.slide{
    min-width:100%;
box-sizing: border-box;
}




.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}